<!DOCTYPE html>
<html lang="en" class="body-error">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>找回密码</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
	<% include ../common.ejs%>
</head>
<body screen_capture_injected="true">
<div id="wrapper">
	<form action="" class="form-login" method="post">
		<div class="header clearfix">
			<a href="/" class="link-head-left"><i class="icon-home"></i></a>
			<span>找回密码</span>
			<a href="javascript:void(0);" tabindex="1" class="link-head-right main-item"><i class="icon-config"></i></a>
		</div>
		<div class="avatar">
			<img src="images/avatar.png" alt="">
		</div>
		<div class="inputs">
			<input name="" type="email" placeholder="请输入邮箱" class="email" />
			<div class="error hd">请输入正确的邮箱</div>
		</div>		
		<div class="link-1">
			<input type="checkbox" id="c2" name="cc" checked="checked" />
			<label for="c2"><span></span> 生成一个新的密码?</label>
		</div>
		<div class="clear"></div>		
		<div class="button-login container">
			<a href="javascript:;">重置密码</a>
		</div>
	</form>
	<div class="clear">
	</div>
	<div class="link-to-page container clearfix">
		<span class="fl">还没有账号?</span>
		<a href="/register" class="fl">立即注册!</a>
	</div>
</div>
<% include ../footer.ejs%>
</body>
</html>
